.banner {
    background: rgb(0,0,0);
    color: white;
    padding: 100;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
