<footer>
    <nav>
        <a href="itis3135\seanbdesigns.com\index.html"><strong>Sean Briganti Designs</strong></a>
        <a href="https://github.com/SeanB35" target="_blank">GitHub</a>
        <a href="https://webpages.charlotte.edu/sbrigant" target="_blank">CLT Web</a>
        <a href="https://seanb35.github.io/" target="_blank">GitHub.io</a>
        <a href="https://www.freecodecamp.org/sbrigant" target="_blank">freeCodeCamp</a>
        <a href="https://www.linkedin.com/in/sean-briganti/" target="_blank">LinkedIn</a>
    </nav>
    <p>Page designed by <a href="itis3135\seanbdesigns.com\index.html">Sean B Designs</a> | Certified Super Beaver Architect</span> &copy; 2026</p>
</footer>