<header>
    <h1>Sean Briganti's Super Beaver</h1>
    <nav class="nav-main">
        <a href="index.html">Home</a>
        <a href="introduction.html">Introduction</a>
    </nav>
    <hr class="divider">
    <nav class="nav-course">
        <a href="itis3135/index.html">Course Home</a>
        <a href="itis3135/survey.html">Survey</a>
        <a href="itis3135/cards.html">Cards</a>
        <a href="itis3135/inventory.html">Inventory</a>
        <a href="itis3135/documentation.html">Documentation</a>
        <a href="itis3135/product.html">Product</a>
        <a href="itis3135/website_evaluations.html">Website Evaluations</a>
    </nav>
    <hr class="divider">
    <nav class="nav-extra">
        <a href="itis3135/stuff/C😀Dhv kdij hv-489hcC V7.htm" class="crappy-link">Crappy Page</a>
    </nav>
</header>