<header>
    <h1>Sean Briganti's Super Beaver</h1>
    <nav class="nav-main">
        <a href="../index.html">Home</a> 
        <a href="../introduction.html">Introduction</a>
    </nav>
    <hr class="divider">
    <nav class="nav-course">
        <a href="index.html">Course Home</a>
        <a href="survey.html">Survey</a>
        <a href="gallery.html">Gallery</a>
        <a href="inventory.html">Inventory</a>
        <a href="instructions.html">Instructions</a>
        <a href="contract.html">Contract</a>
        <a href="website_evaluations.html">Website Evaluations</a>
        <a href="highlight.html">Highlight</a>
    </nav>
    <hr class="divider">
    <nav class="nav-extra">
        <a href="stuff/C😀Dhv kdij hv-489hcC V7.htm" class="crappy-link">Crappy Page</a>
    </nav>
</header>